.copyright {
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  text-align: left;
  margin: 60px auto 60px 0;
}

@media screen and (max-width: 614px) {
  .copyright {
    font-size: 14px;
    line-height: 17px;
    margin: 36px auto 36px 0;
  }
}
